:root {
  --primary-font: "Roboto", sans-serif;
  --primary-nav-color: #fafafa;
  --accent-dark: #131417;
  --active-link: #eb5757;
  --accent-decor: #f2994A;
  --secondary-dark: #252830;
  --box-shadow-dark: rgba(19, 20, 23, 0.4);
}